.explorer {
  background: linear-gradient(176deg, #ff8ade 0%, #8f33ff 120%);
  width: 65%;
  height: 50px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 16px;
  border: 0;
  text-decoration: none;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
}

.explorer:hover {
  opacity: 0.9;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
}

.heart-full {
  font-size: 24px;
  font-weight: 100;
}

.heart-full:hover {
  background: linear-gradient(32deg, #ff8ade 0%, #8f33ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  -webkit-animation: 600ms heart-full ease-in;
          animation: 600ms heart-full ease-in;
}

@-webkit-keyframes heart-full {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart-full {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
}

header h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  margin: 0;
  font-size: 32px;
}

header .arrow-header {
  font-size: 20px;
  position: absolute;
  left: 20px;
  color: black;
}

footer {
  background-color: #353535;
  padding: 20px;
}

footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .icon-container {
  width: 10px;
}

footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin-top: 0;
}

footer a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

footer a, footer i, footer h1 {
  color: #ffffff;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .m-bottom {
  margin-bottom: 10px;
}

footer span a {
  margin-left: 5px;
}

.localisation {
  background-color: #E9E9E9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.13);
          box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.13);
}

.localisation p {
  font-family: "Roboto", sans-serif;
  margin-left: 15px;
}

.explication {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7%;
  background-color: #F8F8F8;
  height: 222px;
}

.explication h1 {
  margin-top: 0;
  text-align: center;
  font-size: 25px;
  width: 75%;
}

.explication p {
  text-align: center;
  margin-top: 0;
  font-size: 18px;
  font-weight: 200;
}

.explication a {
  margin-top: 15px;
}

section.fonctionnement-container {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  height: 420px;
}

section.fonctionnement-container h1 {
  margin-bottom: 40px;
}

section.fonctionnement-container .fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
  border-radius: 24px;
  margin-bottom: 25px;
  width: 100%;
  height: 75px;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
}

section.fonctionnement-container .fonctionnement:hover {
  background-color: #F6EDFF;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

section.fonctionnement-container .fonctionnement:hover i {
  color: #9356DC;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

section.fonctionnement-container .fonctionnement p {
  font-weight: 500;
  margin-left: 20px;
}

section.fonctionnement-container .fonctionnement i {
  font-size: 18px;
  color: grey;
}

section.fonctionnement-container .fonctionnement .circle-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 14px;
  position: relative;
  margin-right: 12px;
  right: 10px;
}

.restaurants {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F8F8F8;
  padding: 40px 0px;
}

.restaurants h1 {
  margin-left: 5%;
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants .restaurant-card {
  width: 90%;
  margin-left: 5%;
  background-color: white;
  border-radius: 18px;
  margin-bottom: 20px;
  height: 260px;
  -webkit-box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
}

.restaurants .restaurant-card p {
  text-decoration: none;
}

.restaurants .restaurant-card .restaurant-image {
  border-radius: 18px 18px 0px 0px;
  height: 70%;
  background-size: cover;
  background-position: bottom;
}

.restaurants .restaurant-card img {
  width: 100%;
  border-radius: 18px 18px 0px 0px;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants .restaurant-card .restaurant-infos-container {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants .restaurant-card .restaurant-name {
  margin: 15px 0px 0px 0px;
  font-size: 18px;
  font-weight: 600;
}

.restaurants .restaurant-card .restaurant-localisation {
  margin: 5px 0px 0px 0px;
  font-size: 18px;
  font-weight: 300;
}

.restaurants .restaurant-card .nouveau {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85px;
  height: 30px;
  background-color: #99E2D0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  top: 6%;
  left: 72%;
  color: #008766;
}
/*# sourceMappingURL=main.css.map */