.menu
    margin-bottom: 40px

.meal
    margin-bottom: 10px
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1)
    border-radius: 15px
.meal-infos
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 10px;
    span
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;