.menu
    margin-bottom: 40px

.meal
    margin-bottom: 10px
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1)
    border-radius: 15px
    display: flex
    justify-content: space-between
    overflow: hidden
    &:hover
        cursor: pointer
        .meal-infos
            width: 75%
        .check-meal
            width: 25%
            i
                animation: check-rotate 700ms

    &:nth-child(1)
        animation: 2s meal-apparition
        
    &:nth-child(2)
        animation: 2.5s meal-apparition

    &:nth-child(3)
        animation: 3s meal-apparition

    &:nth-child(4)
        animation: 3.5s meal-apparition

        
        
        
        
.meal-infos
    display: flex
    flex-direction: column
    padding: 10px 20px 10px 10px
    width: 100%
    transition: width 700ms
    p
        width: 82%
    span
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 5px

@keyframes meal-apparition
    from
        transform: translateY(50%)
        opacity: 0
    to
        transform: translateY(0%)
        opacity: 1
    30%
        opacity: 0