button
    background: linear-gradient(176deg, hsla(317, 100%, 77%, 1) 0%, hsla(267, 100%, 60%, 1) 120%)
    width: 70%
    height: 50px
    border-radius: 25px
    color: white
    font-size: 16px
    border: 0